<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>pass_draw_masks</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>mask_vertex</string>
			<key>metalFragmentShader</key>
			<string>mask_fragment</string>
			<key>includeCategoryMask</key>
			<integer>2</integer>
			<key>inputs</key>
			<dict>
				<key>outlineWidth</key>
				<string>outlineWidthSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>aPos</key>
				<string>vertexSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>maskTarget</string>
			</dict>
		</dict>
		<key>pass_combine</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>aPos</key>
				<string>vertexSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>maskSampler</key>
				<string>maskTarget</string>
				<key>outlineColor</key>
				<string>outlineColorSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>combine_fragment</string>
			<key>metalVertexShader</key>
			<string>combine_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>pass_draw_masks</string>
		<string>pass_combine</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>outlineWidthSymbol</key>
		<dict>
			<key>type</key>
			<string>vec3</string>
		</dict>
		<key>outlineColorSymbol</key>
		<dict>
			<key>type</key>
			<string>vec3</string>
		</dict>
		<key>vertexSymbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>maskTarget</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>format</key>
			<string>rgb</string>
			<key>scaleFactor</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
